@model TopicVM



<div class="contaiener">

    <form asp-action="create">
        <div class="form-group">
            <label required> Name :</label>
            <input class="form-control" asp-for="Name" />

        </div>



        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>




</div>